@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background-color: rgb(255, 255, 255);
}
h1 {
    color: #026E81;
    font-family: "roboto";
    font-size: 20px;
    background-color: beige;

}
h2 {
    color: #026E81 ;
    font-size: 20px;
    text-align: justify;
    font-style: italic;
    line-height: 20cap;
    text-shadow: 20cap;
}
p {
    
    font-family: "roboto";
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    line-height: 20cap;
    text-shadow: 20cap;
    
}

    


